@media only screen and (min-width: 992px) {
  header {
      border: 2px solid green;
      align-items: baseline;
      padding: 26px 142px 5px 155px;
  }

  .dv-logo {
      margin-top: 0;
  }

  nav img {
      display: none;
  }

  .dv-nav {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 259px;
      height: 40px;
      font-family: 'Poppins',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #344563;
      padding: 10px 12px;;
  }

  .dv-ls-nav a {
    text-decoration: none
  }

  .main-section1 {
      background: none;
      background-color: #fff;
      border: 3px solid black;
      padding: 0 8px 76.54px 34.6px;
      height: 916px;
  }

  .bgimg {
      border: 2px solid red;
      padding-top: 50px;
      background-image: url('/Images/Headerbg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 721.46px;
  }
}