@media only screen and (min-width: 992px) {
  header {
      border: 2px solid green;
      align-items: baseline;
      padding: 26px 142px 5px 155px;
  }

  .dv-logo {
      margin-top: 0;
  }

  nav img {
      display: none;
  }

  .dv-nav {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 259px;
      height: 40px;
      font-family: 'Poppins',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #344563;
      padding: 10px 12px;;
  }

  .dv-ls-nav a {
    text-decoration: none
  }
}