@media only screen and (min-width: 992px) {
  header {
    align-items: baseline;
    padding: 26px 142px 5px 155px;
  }

  .dv-logo {
    margin-top: 0;
    animation-duration: 3s;
    animation-name: rotation;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
  }

  @keyframes rotation {
    from {
      transform: rotate(2deg);
      color: #ee45ff;
    }

    50% {
      transform: rotate(180deg);
      color: #e1f23d;
    }

    to {
      transform: rotate(360deg);
    }
  }

  nav img {
    display: none;
  }

  .dv-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 259px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 10px 12px;
  }

  .dv-ls-nav a {
    text-decoration: none;
  }

  .main-section1 {
    background: none;
    background-color: #fff;
    padding: 0 8px 76.54px 34.6px;
    height: 916px;
  }

  .bgimg {
    display: flex;
    flex-direction: column;
    padding: 50px 252px 0 225.4px;
    background-image: url('Images/Headerbg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 721.46px;
    margin-bottom: 76.54px;
  }

  .primary-text {
    display: none;
  }

  .dv-primary-text {
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 241px;
    margin-bottom: 12px;
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    width: 420px;
  }

  .dv-para-text {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .dv-lets-connect {
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
    color: #2638dc;
    line-height: 24px;
  }

  .dv-social {
    margin: 0;
  }

  .work-section {
    padding: 0 142px;
  }

  .work-card-1,
  .work-card-2,
  .work-card-3,
  .work-card-4 {
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    height: 450px;
  }

  .snapshot-portfolio {
    background-image: url("Images/PortoflioCard/dv-contact-bgimg.png");
    width: 50%;
    transition-property: width;
    transition-duration: 4s;
    transition-delay: 2s;
  }

  .snapshot-portfolio-2 {
    background-image: url('Images/PortoflioCard/dv-cardimg-2.png');
    order: 1;
  }

  .snapshot-portfolio-3 {
    background-image: url("Images/PortoflioCard/dv-cardimg-3.png");
  }

  .snapshot-portfolio-4 {
    background-image: url("Images/PortoflioCard/dv-cardimg-4.png");
    order: 1;
  }

  .snapshot-portfolio,
  .snapshot-portfolio-2,
  .snapshot-portfolio-3,
  .snapshot-portfolio-4 {
    background-size: contain;
    background-position: center;
    width: 50%;
    height: 446px;
    margin-right: 22px;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .snapshot-portfolio:hover {
    width: 80%;
  }

  .project-title,
  .project-title-3 {
    padding: 24px;
  }

  .project-title h2,
  .project-title-3 .dv-h31 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    height: 36px;
  }

  .project-title-3 .mv-h1 {
    display: none;
  }

  .project-title-3 .dv-h31 {
    display: block;
  }

  .pry-text {
    width: 31vw;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .mv-ptxt {
    display: none;
  }

  .dv-ptxt {
    display: block;
  }

  .project-title-2,
  .project-title-4 {
    width: 50%;
    height: 420px;
    margin-right: 22px;
    padding: 24px 24px 0 24px;
  }

  .project-title-2 h2,
  .project-title-4 h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    height: auto;
    font-weight: 700;
    font-size: 40px;
    padding-right: 52px;
  }

  .frame {
    display: none;
  }

  .dv-frame {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 40px;
    margin-bottom: 24px;
  }

  .frame p.text-1 {
    color: #344563;
    width: 96px;
  }

  .frame p.text-2 {
    font-size: 13px;
    margin-left: 12px;
    font-weight: normal;
    width: 122px;
    color: #7a869a;
  }

  .frame p.text-3 {
    padding-left: 12px;
    width: 29px;
    color: #7a869a;
  }

  .dv-frame p.texts {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    height: 24px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 16px;
  }

  .dv-frame p.count {
    margin: 12px 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
  }

  .work-card-2 .pry-text {
    display: none;
  }

  .dv-pry-text {
    display: block;
    color: #344563;
    width: auto;
    height: 70px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .tags {
    width: 316px;
  }

  .ruby-tag {
    display: inline-block;
    width: 81px;
  }

  .action-btn {
    width: 295px;
    height: 72px;
    margin: 24px 0;
  }

  .about-me-section {
    display: flex;
    flex-direction: row;
    padding: 142px 142px 0 142px;
    height: 564px;
  }

  .top {
    margin: 0;
    height: 392px;
  }

  .para-text-2 {
    width: 327px;
    height: 144px;
  }

  .lang-frame {
    height: 216px;
  }

  .lang-frame li,
  .lang-frame-2 li,
  .lang-frame-3 li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  li .langs {
    width: 40vw;
  }

  hr,
  .hr-line {
    width: auto;
  }

  .lang-list {
    display: flex;
    flex: 1;
    height: 144px;
    border-radius: 4px;
  }

  .form-container {
    height: 846px;
  }

  .footer-bgimg {
    background-image: url('Images/contact-desktop-bgimg.svg');
    background-size: contain;
    margin: 0;
  }

  .foot-text {
    width: 569px;
    margin-bottom: 12px;
  }

  input,
  textarea {
    width: 447px;
    height: 48px;
  }

  textarea {
    height: 170px;
  }

  .shapes {
    display: none;
  }
}
