* {
  margin: 0;
  padding: 0;
  max-width: 600px;
  max-width: 718px;
}

header {
  display: flex;
  justify-content: space-between;
}

.mylogo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #6070ff;
  line-height: 20px;
  letter-spacing: 0;
  margin: 58px 24px 26px 24px;
  width: 76px;
  height: 20px;
}

.vectors {
  color: #6070ff;
  width: 18px;
  height: 12px;
  align-self: flex-end;
  margin: 62px 35px 36px 35px;
}

.main-section1 {
  background-image: url("/Images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 740px;
  margin-bottom: 30px;
}

.primary-text {
  font-family: 'Poppins', sans-serif;
  margin: 97px 24px 12px 24px;
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 150px;
}

.para-text {
  margin: 0 24px 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  height: 146px;
}

.let-us-connect {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0 234px 12px 24px;
  color: #7f8cff;
  line-height: 24px;
  width: 125px;
  height: 24px;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  margin: 0 180.83px 100px 24px;
  display: flex;
  list-style-type: none;
}

.fa,
.fab {
  width: 19.99px;
  height: 19.96px;
  font-size: 24px;
  color: #505f79;
}

.fa-linkedin,
.fa-angellist {
  margin-left: 19.01px;
}

.fa-medium,
.fa-github {
  margin-left: 20px;
}

.work-section {
  display: grid;
  grid-column-gap: 88px;
  margin-bottom: 114px;
}

.work-card-1,
.work-card-2,
.work-card-3,
.work-card-4 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid red;
  margin: 114px 24px 0 24px;
  width: 327px;
  height: 552px;
}

.snapshot-portfolio {
  background-image: url('Images/Snapshoot-Portfolio.png');
}

.snapshot-portfolio-2 {
  background-image: url('Images/Snapshoot-Portfolio-2.png');
}

.snapshot-portfolio-3 {
  background-image: url('Images/Snapshoot-Portfolio-3.png');
}

.snapshot-portfolio-4 {
  background-image: url('Images/Snapshoot-Portfolio-4.png');
}

.snapshot-portfolio,
.snapshot-portfolio-2,
.snapshot-portfolio-3,
.snapshot-portfolio-4 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.project-title h1,
.project-title-3 h1 {
  font-weight: bold;
  height: 36px;
}

.project-title-2,
.project-title-4 {
  width: 295px;
  height: 332px;
}

.project-title-2 h1,
.project-title-4 h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  height: 80px;
  font-weight: 700;
  font-size: 32px;
  padding-right: 50px;
}

.project-title h1,
.project-title-2,
.project-title-3 h1,
.project-title-4 {
  line-height: 44px;
  color: #172b4d;
  height: 36px;
  margin-bottom: 20px;
}

.frame {
  display: flex;
  justify-content: space-evenly;
  width: 248px;
  height: 32px;
  margin-bottom: 12px;
}

.frame p.text-1 {
  color: #344563;
  width: 55px;
}

.frame p.text-2 {
  font-size: 13px;
  margin-left: 12px;
  width: 95px;
  color: #7a869a;
}

.frame p.text-3 {
  padding-left: 12px;
  width: 29px;
  color: #7a869a;
}

.frame p.texts {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  height: 16px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 16px;
}

.frame p.count {
  margin: 12px 0 12px 12px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
}

.pry-text {
  color: #344563;
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  align-items: center;
  width: 203px;
  height: 24px;
  padding: 0;
}

.tags-link {
  color: #6070ff;
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-right: 8px;
  padding: 4px 12px;
  line-height: 16px;
  text-decoration: none;
  background-color: #ebebff;
  border-radius: 8px;
}

.css-tag {
  width: 21px;
}

.js-tag {
  width: 65px;
}

.action-btn {
  width: 295px;
  height: 72px;
  margin: 12px 0;
}

.btn {
  border: 1px solid #6070ff;
  background-color: #ffffff;
  color: #396df2;
  width: 124px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  margin: 12px 0 12px 0;
}

.btn:hover {
  background-color: #6070ff;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

.btn:focus {
  background-color: #2230d2;
  color: #ffffff;
}

.btn span {
  text-decoration: none;
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  line-height: 24px;
}
